  <ol class="articles">
	  <% @articles.each do |article| %>
	    <%= link_to article.url, class: :content do %>
        <div id="article-<%= article.id %>">
          <%= image_tag(article.image, size: "250x250", class: "icon") %>
          <span class="article-title"><%= article.title %></span>
          <span class="description"><%= truncate(article.description, :length => 150)%> </span>
          <span class="timestamp">
            <%= article.publish %>
          </span>
        </div>
	    <% end %>
	  <% end %>
  </ol>
	<%= paginate @articles %>
