<%= stylesheet_link_tag "main" %>
<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>
<div id='content'>
	<% @articles.each do |article| %>
	<table class="table table-striped">	
		<tbody>
			<tr>
				<td colspan="2"  class="title"><%= article.title %></td>
			</tr>
			<tr>
				<td><%= image_tag(article.image, size: "250x250") %></td>
				<td rawspan='2'><%= link_to truncate(article.description, :length => 400), article.url %></td>
			</tr>
		</tbody>
	</table>
	<% end %>
	<%= paginate @articles %>
</div>
